.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {
  float:none;
  font-style: italic;
}

.navbar-default .navbar-brand {
  color: red;
}

.search-form{
  margin-top: 50px;
}

.logo {
  height: 50px;
}

.searchimg{
  width: 150px;
  border-radius: 100%;
}

.picture{
  width: 150px;
}

.article{
  width: 650px;
}

.articleimg {
  width:70px;
  border-radius: 100%;
}

.read-more{
  text-align: center;
}